*{
    box-sizing: border-box;
}
body{
    background-color: white;
}

/* グリッド用 */
.grid{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
.grid-item{
    height: 140px;
    border: 1px solid white;
}

.column2 > .grid-item{
    width: 50%;
    background-color: #bce2e8;
}
.column4 > .grid-item{
    width: 25%;
    background-color: #a1d8e6;
}
.column6 > .grid-item{
    width:16.6% ;
    background-color: #bbe2f1;
}

/* ログインエリア用 */
.sign-in{
    padding: 20px;
    margin: 10px 0px;
    text-align: center;
    background-color: #006a6c;
    width: 100%;
    color: #ffffff;
}
.form-field-set{
    padding: 10px;
}
.field{
    display: block;
    width:300px;
    padding: 10px;
    margin-top: 4px;
    margin-right: auto;
    margin-left: auto;
    border:2px solid #ffffff;
    border-radius: 4px;
    color: #242424;
}
.sign-in-button{
    width: 300px;
    margin: 20px 0px;
    padding: 10px 70px;
    font-weight: bold;
    color:#242424;
    background: #a1d8e6;
    border: 2px solid #ffffff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}
input:focus{
    outline: 2px #fcc800 solid;
}
.footer{
    font-size: 14px;
}
.sign-up-text{
    display: inline;
}
.sign-up-link{
    display: inline;
}
a{
    color: #a1d8e6;
}
